<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>操作日志</title>
    <link rel="stylesheet" href="../../fonts/iconfont.css">
    <link rel="stylesheet" href="../../libs/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../../css/build/layout.css">
    <link rel="stylesheet" href="../../css/build/public.css">
</head>
<body>
<div id="app">
    <template>
        <div class="page-title">操作日志</div>
        <el-form :class="[shrink ? '' : 'shrink', 'form-search mt20']" ref="searchForm" :model="searchForm" label-width="80px" :inline="true" size="small">
            <div>
                <el-form-item label="操作模块" prop="module">
                    <el-input v-model="searchForm.module" placeholder="请输入申领人员"></el-input>
                </el-form-item>
                <el-form-item label="操作人" prop="name">
                    <el-input v-model="searchForm.name" placeholder="请输入实验室名称"></el-input>
                </el-form-item>
                <el-form-item label="操作内容" prop="content">
                    <el-select clearable v-model="searchForm.content" placeholder="请选择状态">
                        <el-option label="全部" value="3"></el-option>
                    </el-select>
                </el-form-item>
                <el-button type="primary" class="ml15 wid100" icon="el-icon-search" size="small">搜索</el-button>
                <el-button class="blue-btn reset wid100" size="small" @click="resetForm('searchForm')">重置</el-button>
            </div>
            <div>
                <el-form-item label="选择时间">
                    <el-form-item prop="startTime" class="mr0">
                        <el-date-picker
                                v-model="searchForm.startTime"
                                align="right"
                                placeholder="请选择开始时间"
                                type="date">
                        </el-date-picker>
                    </el-form-item>
                    <span class="ml5 mr5">至</span>
                    <el-form-item prop="endTime">
                        <el-date-picker
                                v-model="searchForm.endTime"
                                align="right"
                                placeholder="请选择结束时间"
                                type="date">
                        </el-date-picker>
                    </el-form-item>
                </el-form-item>
            </div>
        </el-form>
        <div class="table-operate mt20">
            <div class="part-right">
                <form class="search-box structure">
                    <el-input placeholder="请输入角色信息" size="small"></el-input>
                    <el-button type="primary" size="small" icon="el-icon-search"></el-button>
                </form>
                <el-button type="text" class="blue-btn mr10" size="small" @click="shrink = !shrink"><i :class="[shrink ? 'icon-shrink' : 'icon-stretch', 'iconfont mr5']"></i>高级搜索</el-button>
                <el-button-group>
                    <el-button class="blue-btn" size="small"><i class="iconfont icon-export"></i></el-button>
                    <el-button class="blue-btn" size="small"><i class="iconfont icon-filter-field"></i></el-button>
                    <el-button class="blue-btn" size="small"><i class="iconfont icon-refresh"></i></el-button>
                </el-button-group>
            </div>
        </div>
        <el-table :data="logData" stripe border class="table mt20 text-center">
            <el-table-column label="操作模块">
                <template slot-scope="scope">
                    <p>{{ scope.row.module }}</p>
                </template>
            </el-table-column>
            <el-table-column label="操作类型">
                <template slot-scope="scope">
                    <p>{{ scope.row.type }}</p>
                </template>
            </el-table-column>
            <el-table-column label="操作内容">
                <template slot-scope="scope">
                    {{ scope.row.content }}
                </template>
            </el-table-column>
            <el-table-column label="操作人">
                <template slot-scope="scope">
                    <p>{{ scope.row.name }}</p>
                </template>
            </el-table-column>
            <el-table-column label="登录时间">
                <template slot-scope="scope">
                    <p>{{ scope.row.loginTime }}</p>
                </template>
            </el-table-column>
            <el-table-column label="IP地址">
                <template slot-scope="scope">
                    {{ scope.row.ip }}
                </template>
            </el-table-column>
            <el-table-column label="浏览器及版本号">
                <template slot-scope="scope">
                    {{ scope.row.browser }}
                </template>
            </el-table-column>
        </el-table>

    </template>
</div>
<script src="../../libs/jquery.min.js"></script>
<script src="../../libs/vue.js"></script>
<script src="../../libs/element-ui/lib/index.js"></script>

<script src="../../js/build/system/operateLog.js"></script>
</body>
</html>