<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>试剂共享</title>
    <link rel="stylesheet" href="../../fonts/iconfont.css">
    <link rel="stylesheet" href="../../libs/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../../css/build/layout.css">
    <link rel="stylesheet" href="../../css/build/public.css">

    <link rel="stylesheet" href="../../css/build/reagentApply/reagentApply.css">
</head>
<body>
<div id="app">
    <template>

    </template>
</div>
<script src="../../libs/jquery.min.js"></script>
<script src="../../libs/vue.js"></script>
<script src="../../libs/element-ui/lib/index.js"></script>

<script src="../../js/build/reagentApply/reagentApply.js"></script>
</body>
</html>