<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="../fonts/iconfont.css">
    <link rel="stylesheet" href="../libs/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../css/build/layout.css">
    <link rel="stylesheet" href="../css/build/public.css">

    <link rel="stylesheet" href="../css/build/index.css">
</head>
<body>
<div id="app">
    <template>
        <div class="page-title">控制台</div>
        <el-row class="part1 mt20" :gutter="20">
            <el-col :span="6">
                <el-row class="grid-content">
                    <i class="iconfont icon-stock"></i>
                    <div class="content"><p>12</p>库存警戒</div>
                </el-row>
            </el-col>
            <el-col :span="6">
                <el-row class="grid-content">
                    <i class="iconfont icon-wait-delivery"></i>
                    <div class="content"><p>7</p>待拣货</div>
                </el-row>
            </el-col>
            <el-col :span="6">
                <el-row class="grid-content">
                    <i class="iconfont icon-wait-output"></i>
                    <div class="content"><p>4</p>待出库</div>
                </el-row>
            </el-col>
            <el-col :span="6">
                <el-row class="grid-content">
                    <i class="iconfont icon-validity"></i>
                    <div class="content"><p>9</p>近效期（一周内）</div>
                </el-row>
            </el-col>
        </el-row>
        <div class="portlet mt20">
            <div class="portlet-title">试剂申请周统计<i class="fr blue el-icon-download"></i></div>
            <div class="portlet-body echarts1" id="myChart1"></div>
        </div>
        <el-row class="part2 mt20">
            <el-col :span="6">
                <div class="portlet">
                    <div class="portlet-title">申领审批<a href="" class="fr">更多</a></div>
                    <div class="portlet-body"></div>
                </div>
            </el-col>
            <el-col :span="6">
                <div class="portlet">
                    <div class="portlet-title">备货清单<a href="" class="fr">更多</a></div>
                    <div class="portlet-body"></div>
                </div>
            </el-col>
            <el-col :span="6">
                <div class="portlet">
                    <div class="portlet-title">退库请求<a href="" class="fr">更多</a></div>
                    <div class="portlet-body"></div>
                </div>
            </el-col>
            <el-col :span="6">
                <div class="portlet">
                    <div class="portlet-title">报损报废请求<a href="" class="fr">更多</a></div>
                    <div class="portlet-body"></div>
                </div>
            </el-col>
        </el-row>
    </template>
</div>
<script src="../libs/jquery.min.js"></script>
<script src="../libs/vue.js"></script>
<script src="../libs/element-ui/lib/index.js"></script>
<script src="../js/build/public.js"></script>

<script src="../libs/echarts.min.js"></script>
<script src="../js/build/index.js"></script>

</body>
</html>