<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>试剂入库</title>
    <link rel="stylesheet" href="../../fonts/iconfont.css">
    <link rel="stylesheet" href="../../libs/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../../css/build/layout.css">
    <link rel="stylesheet" href="../../css/build/public.css">

    <link rel="stylesheet" href="../../css/build/reagentPutIn/reagentPutIn.css">
</head>
<body>
<div id="app">
    <template>
        <div class="page-title">试剂入库</div>
        <el-form :class="[shrink ? '' : 'shrink', 'search-form mt20']" :model="searchForm" label-width="80px" :inline="true" size="small">
            <el-row>
                <el-col :md="7" :lg="6" :xl="6">
                    <el-form-item label="试剂条码" prop="name">
                        <el-input v-model="searchForm.number" placeholder="请输入试剂条码"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :md="7" :lg="7" :xl="6">
                    <el-form-item label="中文名称">
                        <el-input v-model="searchForm.name" placeholder="请输入中文名称"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :md="7" :lg="7" :xl="6">
                    <el-form-item label="CAS号">
                        <el-input v-model="searchForm.cas" placeholder="请输入CAS号"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :md="3" :lg="4" :xl="6">
                    <el-button type="primary" class="ml15" icon="el-icon-search" size="small">搜索</el-button>
                    <el-button class="blue-btn reset" size="small">重置</el-button>
                </el-col>
            </el-row>
            <el-row>
                <el-col :md="7" :lg="6" :xl="6">
                    <el-form-item label="纯度" prop="name">
                        <el-select clearable v-model="searchForm.purity" placeholder="请选择纯度">
                            <el-option label="100" value="3"></el-option>
                            <el-option label="222" value="0"></el-option>
                            <el-option label="22" value="1"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :md="7" :lg="7" :xl="6">
                    <el-form-item label="规格">
                        <el-select clearable v-model="searchForm.specification" placeholder="请选择规格">
                            <el-option label="100" value="3"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :md="7" :lg="7" :xl="6">
                    <el-form-item label="供应商">
                        <el-input v-model="searchForm.provider" placeholder="请输入供应商名称"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :md="7" :lg="6" :xl="6">
                    <el-form-item label="仓库" prop="name">
                        <el-input v-model="searchForm.warehouse" placeholder="请选择纯度"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :md="7" :lg="7" :xl="6">
                    <el-form-item label="货位">
                        <el-input v-model="searchForm.allocation" placeholder="请输入中文名称"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :md="7" :lg="7" :xl="6">
                    <el-form-item label="ICS号">
                        <el-input v-model="searchForm.ics" placeholder="请输入ICS号"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :md="7" :lg="6" :xl="6">
                    <el-form-item label="采购单号" prop="name">
                        <el-input v-model="searchForm.number" placeholder="请输入采购单号"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :md="7" :lg="7" :xl="6">
                    <el-form-item label="批号">
                        <el-input v-model="searchForm.batch" placeholder="请输入批号"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :md="7" :lg="7" :xl="6">
                    <el-form-item label="入库状态">
                        <el-select clearable v-model="searchForm.statue" >
                            <el-option label="待上架" value="0"></el-option>
                            <el-option label="已入库" value="1"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
            </el-row>
        </el-form>
        <div>
            <el-button type="primary" icon="el-icon-plus" size="small">试剂入库</el-button>
            <el-button class="blue-btn" icon="el-icon-circle-plus" size="small">批量入库</el-button>
            <el-button class="blue-btn" size="small"><i class="iconfont icon-barcode mr5"></i>条码上架</el-button>

            <el-button-group class="ml10">
                <el-button class="blue-btn" size="small"><i class="iconfont icon-putaway mr5"></i>上架</el-button>
                <el-button class="blue-btn" size="small"><i class="iconfont icon-print mr5"></i>打印条码</el-button>
            </el-button-group>

            <div class="part-right">
                <el-button type="text" size="small" @click="shrink = !shrink"><i :class="[shrink ? 'icon-shrink' : 'icon-stretch', 'iconfont mr5']"></i>高级搜索</el-button>
                <form class="search-box">
                    <el-input placeholder="请输入内容" size="small"></el-input>
                    <el-button type="primary" size="small" icon="el-icon-search"></el-button>
                </form>
                <el-button-group>
                    <el-button class="blue-btn" size="small"><i class="iconfont icon-export"></i></el-button>
                    <el-button class="blue-btn" size="small"><i class="iconfont icon-filter-field"></i></el-button>
                    <el-button class="blue-btn" size="small"><i class="iconfont icon-refresh"></i></el-button>
                </el-button-group>
            </div>
        </div>
        <el-table :data="reagentData" stripe border class="table mt20 text-center">
            <el-table-column
                    type="selection"
                    width="40">
            </el-table-column>
            <el-table-column label="试剂条码" fixed min-width="130">
                <template slot-scope="scope">
                    <a href="">{{ scope.row.number }}</a>
                </template>
            </el-table-column>
            <el-table-column label="名称" fixed>
                <template slot-scope="scope">
                    {{ scope.row.name }}
                </template>
            </el-table-column>
            <el-table-column label="CAS号">
                <template slot-scope="scope">
                    {{ scope.row.cas }}
                </template>
            </el-table-column>
            <el-table-column label="ICS号" min-width="130">
                <template slot-scope="scope">
                    {{ scope.row.ics }}
                </template>
            </el-table-column>
            <el-table-column label="入库净量">
                <template slot-scope="scope">
                    {{ scope.row.netWeight}}
                </template>
            </el-table-column>
            <el-table-column label="当前量">
                <template slot-scope="scope">
                    {{ scope.row.currentWeight}}
                </template>
            </el-table-column>
            <el-table-column label="纯度">
                <template slot-scope="scope">
                    {{ scope.row.purity}}
                </template>
            </el-table-column>
            <el-table-column label="规格">
                <template slot-scope="scope">
                    {{ scope.row.specification}}
                </template>
            </el-table-column>
            <el-table-column label="仓库">
                <template slot-scope="scope">
                    {{ scope.row.warehouse}}
                </template>
            </el-table-column>
            <el-table-column label="入库日期" min-width="100">
                <template slot-scope="scope">
                    {{ scope.row.date}}
                </template>
            </el-table-column>
            <el-table-column label="入库状态">
                <template slot-scope="scope">
                    {{ scope.row.statue}}
                </template>
            </el-table-column>
            <el-table-column>
                <template slot-scope="scope">
                    <i class="iconfont icon-edit1"></i>
                </template>
            </el-table-column>
        </el-table>
        <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="pagination.currentPage"
                :page-sizes="pagination.pageSizes"
                :page-size="pagination.pageSize"
                layout="total, prev, pager, next, sizes, jumper"
                :total="pagination.pageTotal">
        </el-pagination>
    </template>
</div>
<script src="../../libs/jquery.min.js"></script>
<script src="../../libs/vue.js"></script>
<script src="../../libs/element-ui/lib/index.js"></script>

<script src="../../js/build/reagentPutIn/reagentPutIn.js"></script>
</body>
</html>