@import "../config.less";
.table {
  .el-table__row {
    .icon-edit1 {
      color: @blue;
    }
  }
}

/*.el-tree {
  >.el-tree-node[tabindex='0'] {
    min-height: 300px;
    padding-bottom: 5px;
    border: 1px solid #e5e5e5;
    >.el-tree-node__content {
      border-bottom: 1px solid #e5e5e5;
      background-image: linear-gradient(#fff, #F4F6F9);
      height: 32px;
      .el-tree-node__expand-icon {
        display: none;
      }
      .el-checkbox {
        padding-left: 16px;
      }
    }
    >.el-tree-node__children {
      padding-top: 5px;
    }
  }
}*/
